# npm
/node_modules

# Our build outputs.
# (Symlink this to `.obsidian/plugins/horizoncal` in your vault, and add a `.hotreload` file there, for fun dev experiences!)
/out

# Every dumb editor that's commonly known and has bad opinions.
.DS_Store
*.iml
.idea
.vscode
