/*

The variables below are those documented and suggested by fullcalendar.

Note that we scoped these by our plugin name.
Some other plugins for obsidian have not been such good citizens,
so beware if you install that plugin (which is also, very confusingly, named "full calendar",
the same as the underlying library; ugh), then their styles affect us.

*/

:root .horizoncal {
	--fc-small-font-size: .85em;
	--fc-page-bg-color: rgba(108, 138, 238, 0.6);
	--fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
	--fc-neutral-text-color: #808080;
	--fc-border-color: rgba(15, 120, 140, 0.1);

	--fc-button-text-color: #fff;
	--fc-button-bg-color: #2C3E50;
	--fc-button-border-color: #2C3E50;
	--fc-button-hover-bg-color: #1e2b37;
	--fc-button-hover-border-color: #1a252f;
	--fc-button-active-bg-color: #1a252f;
	--fc-button-active-border-color: #151e27;

	--fc-event-bg-color: #3788d8;
	--fc-event-border-color: #3788d8;
	--fc-event-text-color: #fff;
	--fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

	--fc-more-link-bg-color: #d0d0d0;
	--fc-more-link-text-color: inherit;

	--fc-event-resizer-thickness: 8px;
	--fc-event-resizer-dot-total-width: 8px;
	--fc-event-resizer-dot-border-width: 1px;

	--fc-non-business-color: rgba(165, 165, 165, 0.03);
	--fc-bg-event-color: rgb(143, 223, 130);
	--fc-bg-event-opacity: 0.3;
	--fc-highlight-color: rgba(188, 232, 241, 0.3);
	--fc-today-bg-color: rgba(15, 120, 140, 0.1);
	--fc-now-indicator-color: red;

	/* .fc-v-event {
		border: 3px solid var(--fc-event-border-color);
	} */
}

.horizoncal input:invalid,
.horizoncal .invalid {
	border-color: var(--text-error);
	color: var(--text-error);
}

.hc-evt-interact-modal .modal {
	/* on desktop, this can be narrower than most modals. */
	width: calc(0.7 * var(--dialog-width));
}

.is-phone .hc-evt-interact-modal .modal {
	/* The defaults for modals on mobile are very screen-filly.  That's not appropriate for this one. */
	/* Sidenote: at least in my current version of Obsidian on android, 'bottom' doesn't appear to work correctly here.  But it does in desktop Electron when told to emulate mobile.  Dunno. */
	top: 15%;
	bottom: 15%;
	left: unset;
	right: unset;
	/* radius on all sides, don't skip the bottom. */
	border-radius: var(--radius-m);
	/* restore the normal borders. */
	border: var(--modal-border-width) solid var(--modal-border-color);
}

.hc-evt-interact-modal .modal-title span {
	margin: 0.5em auto 0.2em auto;
	display: block;
	color: var(--text-muted);
	font-style: italic;
	font-size: var(--file-header-font-size);
	font-weight: var(--file-header-font-weight);
}

.hc-evt-interact-modal .modal-title h4 {
	margin: 0.2em 0.5em;
}

.hc-evt-interact-modal button {
	width: calc(100% - 6em);
	margin: 0.3em 3em;
}
